<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ album_name }}</title>
    <style>
        img {
            width: 300px;
            height: auto;
            margin: 10px;
        }
    </style>
</head>
<body>
    <h1>Album: {{ album_name }}</h1>
<div class="gallery">
    {% for image_url in image_urls %}
        <div class="image-item">
            <img src="{{ image_url }}" alt="Image" width="300">
        </div>
    {% endfor %}
</div>

</body>
</html>
