<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SnapSearch AI - Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <header>
        <h1>SnapSearch AI</h1>
        <div class="profile">
            <a href="profile.html">Profile</a>
        </div>
    </header>
    <div class="container">
        <h2>Welcome!</h2>
        <div class="options">
            <a href="/create_album" class="btn">Create Album</a>
            <a href="/join_album" class="btn">Join Album</a>

        </div>
    </div>
</body>
</html>
